<div class="container">
  <form [formGroup]="form">
    <mat-card>
        <mat-card-content>
          <mat-form-field class="size-input">
            <mat-label>Informe seu nome para continuar</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button style="width: 100% ;" mat-button class="button-save" (click)="navigateHome()" >
              Continuar </button>
        </mat-card-actions>
    </mat-card>
</form>
</div>
