.size-input {
  width: 100%;
}

.dialog-title-align {
  text-align: center;
}

.dialog-content-size{
  width:100%
}


.example-card {
  max-width: 400px;
}


.container{
  margin-top: -1%;
  padding: 40px 70px;
}

.img-size{
  width:150px;
  height:224px;
  margin-left:28%
}
